In [27]:
import pandas as pd

In [28]:
df = pd.read_csv("data/wonka_choc_factory.csv")

In [29]:
df.head(10)

,Unnamed: 0,Order Date,Ship Date,Ship Mode,Customer ID,Country/Region,City,State/Province,Postal Code,Division,Region,Product Name,Sales,Units,Gross Profit,Cost,Factory,Latitude,Longitude
0,0,2021-03-31,2026-09-26,Standard Class,128055,United States,San Francisco,California,94122,Chocolate,Pacific,Wonka Bar - Triple Dazzle Caramel,7.50,2,4.90,2.60,Wicked Choccy's,32.076176,-81.088371
1,1,2021-03-31,2026-09-26,Standard Class,128055,United States,San Francisco,California,94122,Chocolate,Pacific,Wonka Bar -Scrumdiddlyumptious,7.20,2,5.00,2.20,Lot's O' Nuts,32.881893,-111.768036
2,2,2021-09-15,2027-03-13,Standard Class,138100,United States,New York City,New York,10011,Chocolate,Atlantic,Wonka Bar - Fudge Mallows,7.20,2,4.80,2.40,Lot's O' Nuts,32.881893,-111.768036
3,3,2021-09-15,2027-03-13,Standard Class,138100,United States,New York City,New York,10011,Chocolate,Atlantic,Wonka Bar - Milk Chocolate,9.75,3,6.33,3.42,Wicked Choccy's,32.076176,-81.088371
4,4,2022-10-04,2028-03-29,First Class,121391,United States,San Francisco,California,94109,Chocolate,Pacific,Wonka Bar - Milk Chocolate,6.50,2,4.22,2.28,Wicked Choccy's,32.076176,-81.088371
5,5,2023-03-03,2028-08-28,Standard Class,103982,United States,Round Rock,Texas,78664,Chocolate,Interior,Wonka Bar -Scrumdiddlyumptious,3.60,1,2.50,1.10,Lot's O' Nuts,32.881893,-111.768036
6,6,2023-03-03,2028-08-28,Standard Class,103982,United States,Round Rock,Texas,78664,Chocolate,Interior,Wonka Bar - Nutty Crunch Surprise,10.47,3,7.47,3.00,Lot's O' Nuts,32.881893,-111.768036
7,7,2023-03-03,2028-08-28,Standard Class,103982,United States,Round Rock,Texas,78664,Chocolate,Interior,Wonka Bar - Fudge Mallows,25.20,7,16.80,8.40,Lot's O' Nuts,32.881893,-111.768036
8,8,2023-03-03,2028-08-28,Standard Class,103982,United States,Round Rock,Texas,78664,Chocolate,Interior,Wonka Bar - Milk Chocolate,9.75,3,6.33,3.42,Wicked Choccy's,32.076176,-81.088371
9,9,2024-06-29,2029-12-25,Standard Class,147039,United States,Minneapolis,Minnesota,55407,Chocolate,Interior,Wonka Bar - Nutty Crunch Surprise,10.47,3,7.47,3.00,Lot's O' Nuts,32.881893,-111.768036

In [30]:
df.shape

(10194, 19)

In [31]:
df.columns

Index(['Unnamed: 0', 'Order Date', 'Ship Date', 'Ship Mode', 'Customer ID',
       'Country/Region', 'City', 'State/Province', 'Postal Code', 'Division',
       'Region', 'Product Name', 'Sales', 'Units', 'Gross Profit', 'Cost',
       'Factory', 'Latitude', 'Longitude'],
      dtype='object')

In [32]:
df["Ship Mode"].value_counts()

Ship Mode
Standard Class    6120
Second Class      1979
First Class       1548
Same Day           547
Name: count, dtype: int64

In [33]:
df["Country/Region"].value_counts()

Country/Region
United States    9994
Canada            200
Name: count, dtype: int64

In [34]:
df["City"].value_counts()

City
New York City    915
Los Angeles      747
Philadelphia     537
San Francisco    510
Seattle          428
                ...
Springdale         1
Layton             1
Montebello         1
Deer Park          1
Portage            1
Name: count, Length: 542, dtype: int64

In [35]:
df["City"].nunique()

542

In [36]:
df["State/Province"].value_counts()

State/Province
California                   2001
New York                     1128
Texas                         985
Pennsylvania                  587
Washington                    506
Illinois                      492
Ohio                          469
Florida                       383
Michigan                      255
North Carolina                249
Arizona                       224
Virginia                      224
Georgia                       184
Tennessee                     183
Colorado                      182
Indiana                       149
Kentucky                      139
Massachusetts                 135
New Jersey                    130
Oregon                        124
Wisconsin                     110
Maryland                      105
Delaware                       96
Minnesota                      89
Connecticut                    82
Missouri                       66
Oklahoma                       66
Alabama                        61
Arkansas                       60
Ontario                        58
Rhode Island                   56
Utah                           53
Mississippi                    53
Quebec                         50
South Carolina                 42
Louisiana                      42
Nevada                         39
Nebraska                       38
New Mexico                     37
Iowa                           30
New Hampshire                  27
Alberta                        26
Kansas                         24
British Columbia               22
Idaho                          21
Montana                        15
South Dakota                   12
Manitoba                       12
Vermont                        11
Prince Edward Island           10
District of Columbia           10
Maine                           8
New Brunswick                   8
North Dakota                    7
Newfoundland and Labrador       6
Nova Scotia                     6
West Virginia                   4
Saskatchewan                    2
Wyoming                         1
Name: count, dtype: int64

In [37]:
df["State/Province"].nunique()

59

In [38]:
df["Division"].value_counts()

Division
Chocolate    9844
Other         310
Sugar          40
Name: count, dtype: int64

In [39]:
df["Region"].value_counts()

Region
Pacific     3253
Atlantic    2986
Interior    2335
Gulf        1620
Name: count, dtype: int64

In [40]:
df["Product Name"].value_counts()

Product Name
Wonka Bar - Milk Chocolate           2137
Wonka Bar -Scrumdiddlyumptious       2064
Wonka Bar - Triple Dazzle Caramel    2015
Wonka Bar - Fudge Mallows            1818
Wonka Bar - Nutty Crunch Surprise    1810
Wonka Gum                             120
Kazookles                              96
Lickable Wallpaper                     94
SweeTARTS                              10
Laffy Taffy                            10
Fizzy Lifting Drinks                    6
Nerds                                   4
Hair Toffee                             4
Everlasting Gobstopper                  3
Fun Dip                                 3
Name: count, dtype: int64

In [41]:
df["Product Name"].nunique()

15

In [42]:
df["Sales"].describe()

count    10194.000000
mean        13.908537
std         11.341020
min          1.250000
25%          7.200000
50%         10.800000
75%         18.000000
max        260.000000
Name: Sales, dtype: float64